<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PY2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="page1">
        <div class="title">
           <b>Описание пачки документов персонафицированного учёта</b> 
        </div>

        <div class="info">
            <div class="info_ind">
                Идентификационный код:
            </div>
            <div class="info_ind">
                Учётный номер плательщика:
            </div>
            <div class="info_ind">
                Наименование:
            </div>
        </div>
        <div class="numPack">
            Номер пачки:
        </div>
        <div class="table">
            <table border="0">
                <tr >
                    <td>№ п\п</td>
                    <td>Наименование форм</td>
                    <td>Вид формы</td>
                    <td> Количество документов передано </td>
                    <td>Количество документов принято</td>
                    <td>Примечание</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Анкета застрахованного лица</td>
                    <td>ПУ-1</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Сведения о приеме и увольнении</td>
                    <td>ПУ-2</td>
                    <td>1</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Индивидуальные сведения</td>
                    <td>ПУ-3</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td>Итого ДПУ</td>
                    <td></td>
                    <td>1</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="sub_info">
            Заполняется по пачкам ДПУ, содержащим форму ПУ-3 "Индивидуальные сведения"
        </div>
        <div class="table table2">
            <table border="1">
                <tr>
                    <td>Итого по типам форм</td>
                    <td> Сумма, рублей выплат (дохода),
                        на которые <br>
                        начислены
                        страховые взносы</td>
                    <td> пособий по
                        временной <br>
                        нетрудоспособности
                        </td>
                    <td>
                        начисляются
                        страховые взносы
                    </td>
                    <td>уплаченных <br>
                        страховых взносов</td>
                    <td>Примечание</td>
                </tr>
                <tr>
                    <td>Исходная</td>
                    <td>
                        <textarea name="comment" cols="15" rows="1"></textarea>
                    </td>
                    <td>
                        <textarea name="comment" cols="15" rows="1"></textarea>
                    </td>
                    <td>
                        <textarea name="comment" cols="15" rows="1"></textarea>
                    </td>
                    <td>
                        <textarea name="comment" cols="15" rows="1"></textarea>
                    </td>
                    <td>
                        <textarea name="comment" cols="15" rows="1"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Назначение пенсии</td>
                    <td><textarea name="comment" cols="15" rows="1"></textarea></td>
                    <td><textarea name="comment" cols="15" rows="1"></textarea></td>
                    <td><textarea name="comment" cols="15" rows="1"></textarea></td>
                    <td><textarea name="comment" cols="15" rows="1"></textarea></td>
                    <td><textarea name="comment" cols="15" rows="1"></textarea></td>
                </tr>
            </table>
        </div>
        <div class="credo">
            <div class="credo_item"><b>Руководитель:</b><textarea name="comment" cols="15" rows="1"> </textarea></div>
            <div class="credo_item"><b>Cдал:</b><textarea name="comment" cols="15" rows="1"></textarea></div>
            <div class="credo_item">Принял:<textarea name="comment" cols="15" rows="1"> </textarea></div>
            <div class="credo_itemS ">Дата приёма ДПУ<input type="date" name="" id=""></div>
        </div>
    </div>
</body>
</html>